<!DOCTYPE html>
<html>
<head>
  <title>SpreeSkrillRecurring</title>
  <%= stylesheet_link_tag    "spree_skrill_recurring/application", media: "all" %>
  <%= javascript_include_tag "spree_skrill_recurring/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
